body
{
	background-image:url("../Images/background.jpg");
}

.button1{
	position:absolute; 
	left:1040px; 
	top:20px;
	font-size:18px;
	color:white;
	background-color:purple;
	padding: 5px 25px;
	text-align:center;
	border-radius: 15px;
	
}
.body_head_text #text_in_body{
	background-image:linear-gradient(90deg,orange,blue);
	background-size: 0% 3px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: background-size 300ms ease ;
	font-size: 40px;


}
.body_head_text #text_in_body:hover{
	background-size:100% 3px;
}

.button2{
	position:absolute; 
	left:1160px; 
	top:20px;
	font-size:18px;
	color:white;
	background-color:purple;
	padding: 5px 25px;
	text-align:center;
	border-radius: 15px;
}

.button3{
	position:absolute; 
	left:1090px; 
	top:64px;
	font-size:18px;
	color:white;
	background-color:purple;
	padding: 5px 20px;
}

.search{
	position:absolute;
	top:110px;
	left:1030px;
    border-radius: 20px;
	padding: 10px;
	margin: 10px;
	width: 15%;
	border: 1px solid #999;
	outline: none;	
}

.search_1{
	position:absolute;
	top:110px;
	left:1260px;
	cursor:pointer;
    border-radius: 20px;
	padding: 1px;
	background-color: rgb(194, 162, 209);
	margin: 10px;
	height:6%;
	width:4%;
	outline: none;	
}

.search_1:hover{
	background-color:#915c83;
}



ul.menu{
	list-style-type:none;
	background-color:#550A35;
	padding:0px;
	margin: 10px 0px 20px 0px;
	overflow:hidden;	
}

li.menu{
	float:right;
}

li a{
	font-size:16px;
	background-color:#550A35;
	color:white;
	display:block;
	text-align:center;
	padding: 10px 70px;
	text-decoration:none ;
	background-color:purple;
	text-align:center;
	border-radius: 10px;
}

li a:hover{
	background-color:#9966cc;
}

#Headtext{
	color:white;
	position:relative;
	
	font-size:23px;
	border-radius: 5px;
	background-color:rgb(119, 21, 119);
	padding: 5px 30px;
	margin-bottom: 30px;
}



#img1{
	border-radius:30px;
	position: relative;
	left: 65px;
	
}
#img1:hover{
	opacity:1;
}
/*#img2{
	border-radius:30px;
	opacity:0.4;
}
#img2:hover{
	opacity:1;
}
.projectImage #img2{
	border-radius:30px;
	opacity:0.4;
}*/
.footer {
	position: relative;
	width: 100%;
	height:6%;
	opacity:0.9;
	background-color: rgb(119, 6, 59);
   
 }
 
 .footerText1{
	 position:absolute;
	 right:900px;
	 font-family:arial;
	 top:30px;
	 color: white;
	 font-size:18px;
 }
 
 
 .footerText2{
	 position:absolute;
	 left:1100px;
	 font-family:arial;
	 top:70px;
	 font-size:20px;
	 
	 
 }
 
 .footerText3{
	 position:absolute;
	 left:1100px;
	 font-family:arial;
	 top:30px;
	 font-size:20px;
	 
 }
 
 .footer font:hover{background-color:black;}
 
 a:visited {
	 color: white;
	 text-decoration: none;
 }
