#Headtext{
	color:white;
	position:relative;
	left:450px;
}

#img1{
	border-radius:30px;
	opacity:0.4;
}
#img1:hover{
	opacity:1;
}
/*#img2{
	border-radius:30px;
	opacity:0.4;
}
#img2:hover{
	opacity:1;
}
.projectImage #img2{
	border-radius:30px;
	opacity:0.4;
}*/
